#!/usr/bin/make -f

include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk

binary-predeb/cone::
	rmdir $(DEB_DESTDIR)usr/share/man/man3/

get-orig-source:
	-uscan --upstream-version 0 --rename
